<div id="content">
    <div id="article_container">
        <div id="article">
            <div id="article_image"  >
                <img src="{{article?.image_url}}" alt="" srcset="" style="width :100%;height: 600px;">
            </div>
            <div id="article_content" style="padding:10px">
                <div markdown [data]="article?.content"></div>
            </div>
            <div id="article_impression_contatiner">
                <div style="margin :20px">
                    <span class="material-icons md-48">thumb_up_alt</span>
                    <span id="article_likes">15 Like</span>
                </div>
                <div style="margin :20px">
                    <span class="material-icons md-48">comment</span>
                    <span id="article_comments"> 15 Comments</span>
                </div>
            </div>
            <div id="article_comments_section">
                <div>
                    <h1>Comments :</h1>
                </div>
                <div id="add_comment_container" >
                    <div >
                        <img src="projectfrontend/src/assets/images/avatar2.png" style="width: 60px;height:60px;border-radius :50%"/>
                    </div>
                    <div >
                        <div style="margin-left:10px;font-size :20px;font-weight: bolder;">
                            user name :
                        </div>
                        <div >
                            <textarea 
                            [(ngModel)]="comment"
                            style="width:100%;min-height: 100px;
                            padding: 10px;
                            scroll-behavior: auto;
                            font-size: 25px;"></textarea>
                        </div>
                    </div>
                    <div>
                        <button class="button-29" role="button" (click)="addComment()">Add commment</button>
                    </div>

                </div>
                <div id="comment_container" *ngFor="let com of comments">
                    <div>
                        <img src="projectfrontend/src/assets/images/avatar.png" style="width: 60px;height:60px;border-radius :50%"/>
                    </div>
                    <div>
                        <div style ="margin-left:10px;font-size :20px;font-weight: bolder;"> 
                            {{com.author_name}}
                        </div>
                        
                        <div style ="margin-left:10px;margin-top: 15px;">
                            {{com.comment}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="owner_infos">
            <div id="owner_infos_container">
                <div id="owner_img">
                    <img src="projectfrontend/src/assets/images/avatar.png" style="width: 60px;height:60px;border-radius :50%"/>
                </div>
                <div id="owner_name">
                    <h1>user 15</h1>
                </div>
                <div id="owner_description">
                    <p>
                        Software engineer ,mobile and web dev ,comptre science ,designe systems.
                    </p>
                </div>
                <div>
                    <button >follow</button>
                </div>
            </div>
        </div>
    </div>

</div>
