<div id="background">
    <div id="form">
        <h1>Login</h1>
        <form>
            <mat-form-field appearance="outline">
                <mat-label>email</mat-label>
                <mat-icon matSuffix>email</mat-icon>
                <input matInput placeholder="Email" [formControl]="email">
            </mat-form-field>
            <br />
            <mat-form-field appearance="outline">
                <mat-label>password</mat-label>
                <mat-icon matSuffix>lock</mat-icon>
                <input matInput placeholder="Password" [formControl]="password" type="password">
            </mat-form-field>
            <br />
            <div id="button-container">
                <button mat-raised-button color="primary" (click)="this.attemptLogin()">Login</button>
            </div>
        </form>
        <a (click)="goToRegistration()">Or create an account</a>
    </div>
</div>