<div>
    <form>
        <mat-form-field appearance="outline">
            <mat-label>email</mat-label>
            <input matInput placeholder="Email" [formControl]="email">
            <mat-hint>Hint</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>password</mat-label>
            <input matInput placeholder="Password" [formControl]="password" type="password">
            <mat-hint>Hint</mat-hint>
        </mat-form-field>
        <button (click)="this.attemptLogin()">Login</button>
    </form>
</div>