<div id="stream-container">
    <div class="half-screen">
        <h1>Livestreams</h1>
        <div *ngFor="let stream of streams">
            <mat-card *ngIf="stream.is_live" class="stream-card" (click)="goToStream(stream._id)">
                <span>
                    <b>{{stream.username}}</b> is streaming "{{stream.title}}" <span style="color:red">  Live  </span>
                </span>
            </mat-card>
        </div>
    </div>
    <div class="half-screen">
        <h1>VODs</h1>
        <div *ngFor="let stream of streams">
            <mat-card *ngIf="!(stream.is_live)" class="stream-card" (click)="goToStream(stream._id)">
                <span>
                    <b>{{stream.username}}</b> has streamed "{{stream.title}}"
                </span>
            </mat-card>
        </div>
    </div>
</div>