<div id="content">
  <div id="section1">
    <div id="content_infos">
      <form>
        <label for="fname">Article Title :</label>
        <input
          type="text"
          id="fname"
          [(ngModel)]="article_title"
          name="Article_title"
          placeholder="Article name.."
        />
        <label for="fname"> First image url:</label>
        <input
          type="text"
          [(ngModel)]="img_url"
          id="fname"
          name="Article image url"
          placeholder="Article image url"
        />
        <label for="lname">Description :</label>
        <textarea  
           id="description" class="sample" [(ngModel)]="description" [ngModelOptions]="{standalone: true}" autofocus></textarea>
        <br>
  
        <label for="fname"> upload article (as md):</label>
        <input type="file" (change)="onFileUpload($event)" /> 
        <div style="display:flex">
          <button id="add_article" class="button" style="align-content: flex-end;" (click)="uploadArticle()">Add Article</button>
        </div>
      </form>
    </div>
    <div id="article_card">
      <mat-card class="overflow-hidden">
        <div>
          <img style="width:100%;height:100%" src="{{ img_url}}" class="w-100" alt="">
        </div>
        <mat-card-content>
          <div style="width:100%">
            <p class="fs-18 lh-lg fw-medium">
              {{article_title}}
            </p>
            <div>
              <p class="op-7">
                {{description}}
              </p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>  
  <div id="preview">
    <div id="article">
      <div style="padding: 10px;margin:0 auto ;font-size:larger">
        <markdown class="variable-binding" [data]="ArticlePreview"></markdown> 
      </div>
    </div>
  </div>
</div>
