#content{
    display: flex;
}
#section1{
    margin-right: 20px;
    width :40%;
    display: flex;
    flex-direction: column;
}
#preview{
    width: 60%;
    padding :10px;
    border-radius: 20px;
    border: 1px solid white;
    margin: 0 auto;
    box-shadow: #272822 1px 1px 10px 1px;
}
#content_infos{
    font-size: large;
    padding :10px;
    border-radius: 20px;
    border: 1px solid white;
    margin: 0 auto;
    margin-bottom: 20px;
    box-shadow: #272822 1px 1px 10px 1px;
}
#article_card{
    margin: 0 auto;
    width: 60%;
    box-shadow: #272822 1px 1px 10px 1px;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 auto;
  }
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.sample {
    box-sizing: border-box;
    display: block;
    font: 17px/1.5 'Noto Sans JP' ,sans-serif;
    width:100%;
    min-height: 120px;
    padding: 15px;
    overflow: hidden;
    outline: none;
    resize: none;
    
  }
  textarea.form-control{
    width: 90%;
    height: 500px;
    margin-top: 10px;
  }
  


  
  
  