@use '@angular/material'as mat;
@include mat.core();
#content{
    display: flex;
}
#section1{
    margin-right: 20px;
    width :40%;
    display: flex;
    flex-direction: column;
}
#preview{
    width: 60%;
    padding :10px;
    border-radius: 20px;
    border: 1px solid blue;
    margin: 0 auto;
    box-shadow: #272822 1px 1px 10px 1px;
}
#content_infos{
    font-size: large;
    padding :10px;
    border-radius: 20px;
    border: 1px solid blue;
    margin: 0 auto;
    margin-bottom: 20px;
    box-shadow: #272822 1px 1px 10px 1px;
}
#article_card{
    margin: 0 auto;
    width: 60%;
    box-shadow: #272822 1px 1px 10px 1px;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 auto;
  }
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.sample {
    box-sizing: border-box;
    display: block;
    font: 17px/1.5 'Noto Sans JP' ,sans-serif;
    width:100%;
    min-height: 120px;
    padding: 15px;
    overflow: hidden;
    outline: none;
    resize: none;
    
  }
  textarea.form-control{
    width: 90%;
    height: 500px;
    margin-top: 10px;
  }
  


  
  
  $flexy-primary: (
    100: #fcf1ed,
    500: #03c9d7,
    700: #425a61,
    contrast: (
      100: #393939,
      500: #ffffff,
      700: #ffffff,
    ),
  );
  
  $flexy-accent: (
    100: #fcf1ed,
    500: #fb9678,
    700: #425a61,
    contrast: (
      100: #393939,
      500: #ffffff,
      700: #ffffff,
    ),
  );
  
  $flexy-warn: (
    100: #fcf1ed,
    500: #e46a76,
    700: #5d363a,
    contrast: (
      100: #393939,
      500: #ffffff,
      700: #ffffff,
    ),
  );
  
  $flexy-angular-primary: mat.define-palette($flexy-primary);
  $flexy-angular-accent: mat.define-palette($flexy-accent);
  
  $flexy-angular-warn: mat.define-palette($flexy-warn);
  
  $flexy-angular-theme: mat.define-light-theme((
    color: (
      primary: $flexy-angular-primary,
      accent: $flexy-angular-accent,
      warn: $flexy-angular-warn,
    )
  ));
  
  
  html,
  body {
    height: 100%;
  }
  
  body {
    margin: 0;
    font-family: 'DM Sans', sans-serif !important;
  }
  
  @include mat.all-component-themes($flexy-angular-theme);
  
  
  $my-custom-level: mat.define-typography-level($font-weight: 400,
    $font-size: 1rem,
  );
  
  $my-custom-typography: mat.define-typography-config($font-family: "'DM Sans', sans-serif",
    $headline: mat.define-typography-level(40px, 1, 500),
    $title: mat.define-typography-level(32px, 1, 500),
    $subheading-2: mat.define-typography-level(24px, 1, 500),
    $subheading-1: mat.define-typography-level(18px, 1, 500),
  );
  
  @include mat.core($my-custom-typography);
  
  
  
  
  
  // @=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@
  // Font Family
  // @=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@
  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
  
  $bodyfont: 'DM Sans',
  sans-serif;
  
  
  // @=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@
  // Colors
  // @=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@
  
  // Body Colors
  $body-color: #fafbfb;
  
  // Main Colors
  $primary: #fb9678;
  $secondary: #777e89;
  $success: #00c292;
  $info: #03c9d7;
  $warning: #fec90f;
  $danger: #e46a76;
  $indigo: #551a8b;
  $light: #4952581f;
  $dark: #000000de;
  // $dark: #393939;
  $muted: #949db2;
  $white: #fff;
  $black: #000;
  
  // Light Colors
  $light-primary: #fcf1ed;
  $light-info: #f7f8f7;
  $light-muted: #99abb4;
  
  // Dark Colors
  $dark-danger: #5d363a;
  $dark-warning: #655419;
  $dark-info: #425a61;
  $dark-success: #145242;
  
  
  
  // Borders
  $border-color: unset;
  $shadow: rgba(113, 122, 131, 0.11);
  // @=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@
  // Colors
  // @=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@
  
  $color-array:("primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "indigo": $indigo,
    "light": $light,
    "dark": $dark,
    "muted": $muted,
    "white": $white,
    "black": $black,
    "light-primary": $light-primary,
    "light-info": $light-info,
    "light-muted": $light-muted,
  );
  
  @each $color-name,
  $color-value in $color-array {
    .text-#{$color-name} {
      color: $color-value;
    }
  
    .bg-#{$color-name} {
      background-color: $color-value;
    }
  
    .btn-#{$color-name} {
      background-color: $color-value;
      transition: all 0.4s ease-in-out;
      color: $white;
  
      &:hover {
        background-color: rgba($color: $color-value, $alpha: 0.6);
      }
    }
  }
  
  
  
  
  // @=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@
  // Margins & Paddings
  // @=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@
  
  $max: 70;
  $offset: 4;
  $unit: "px"; // Feel free to change the unit.
  
  @mixin list-loop($className, $styleName) {
    $i: 0;
  
    @while $i <=$max {
      #{$className + $i} {
        #{$styleName}: #{$i + $unit} !important;
      }
  
      $i: $i+$offset;
    }
  }
  
  // Margins
  @include list-loop(".mt-", "margin-top");
  @include list-loop(".m-", "margin");
  @include list-loop(".mb-", "margin-bottom");
  @include list-loop(".ltr .ms-", "margin-left");
  @include list-loop(".ltr .me-", "margin-right");
  @include list-loop(".rtl .ms-", "margin-right");
  @include list-loop(".rtl .me-", "margin-left");
  
  // Paddings
  @include list-loop(".pt-", "padding-top");
  @include list-loop(".p-", "padding");
  @include list-loop(".pb-", "padding-bottom");
  @include list-loop(".ltr .ps-", "padding-left");
  @include list-loop(".ltr .pe-", "padding-right");
  @include list-loop(".rtl .pe-", "padding-left");
  @include list-loop(".rtl .ps-", "padding-right");
  
  
  
  
  // @=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@
  // Font Sizes
  // @=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@
  
  $f: 10;
  
  @while $f <= 50 {
    .fs-#{$f} {
      font-size: 1px * $f;
    }
  
    $f: $f+2;
  }
  
  
  
  
  // @=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@
  // Font Weights
  // @=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@
  
  $font-array:("lighter": 100,
    "light": 300,
    "normal": 400,
    "medium": 500,
    "semibold": 600,
    "bold": 700,
    "black": 800,
  );
  
  @each $font-weight,
  $font-value in $font-array {
    .fw-#{$font-weight} {
      font-weight: $font-value;
    }
  }
  
  
  
  .card {
      margin-bottom: 30px;
      box-shadow: 0px 7px 30px 0px $shadow;
      // background-color: $white;
      border-radius: 20px;
    }
    .row{
      display: flex;
      flex-wrap: wrap;
      //justify-content: space-around;
    }
    .row :nth-child(n){
        flex: 1 0 32%; 
    }
    /*.row :nth-child(2){
      margin-left: 4px;
      margin-right: 4px;
    }*/
  
    mat-card {
      margin-bottom: 30px !important;
      box-shadow: 0px 7px 30px 0px $shadow !important;
      // background-color: $white !important;
      border-radius: 20px !important;
      padding: 0 !important;
      margin-left: 4px;
      margin-right: 4px;
      float: right;
    }
    
    .card-body {
      padding: 30px;
    }
    
    mat-card-content {
      padding: 30px;
      .btn{
        border-radius: 9px;
        padding: 7px;
      
      }
      float:right;
      .align:first-child{
        float: left;
      
      }
      .align :last-child{
        float: right;
        margin-top: 10px;
        color: rgba(21, 21, 26, 0.789);
  
      }
    }
    .feather-sm {
      width: 16px !important;
      height: 16px !important;
    }
    
    .feather-base {
      width: 20px !important;
      height: 20px !important;
    }
    
    .feather-lg {
      width: 24px !important;
      height: 24px !important;
    }
    
    .w-100 {
      width: 100%;
      height: 250px;
    }
    
    .h-100 {
      height: 100%;
    }
    
    .text-nowrap {
      white-space: nowrap;
    }
    
    .overflow-hidden {
      overflow: hidden;
    }
    
    .lh-lg {
      line-height: 1.5;
    }
    
    .overflow-x-hidden {
      overflow-x: hidden;
    }
    
    
    // @=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@
    // Flex
    // @=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@
    
    .d-flex {
      display: flex;
    }
    
    .d-block {
      display: block !important;
    }
    
    .align-items-start {
      align-items: flex-start;
    }
    
    .align-items-center {
      align-items: center;
    }
    
    .align-items-end {
      align-items: flex-end;
    }
    
    .justify-content-start {
      justify-content: start;
    }
    
    .justify-content-center {
      justify-content: center;
    }
    
    .justify-content-end {
      justify-content: end;
    }
    
    .text-start {
      text-align: start;
    }
    
    .text-center {
      text-align: center;
    }
    
    .text-end {
      text-align: end;
    }
    
    
    
    
    // @=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@
    // Margins
    // @=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@
    
    .mt-n1 {
      margin-top: -4px;
    }
    
    .mt-n2 {
      margin-top: -8px;
    }
    
    .mt-n3 {
      margin-top: -12px;
    }
    
    .mt-n4 {
      margin-top: -16px;
    }
    
    .mt-n5 {
      margin-top: -24px;
    }
    
    .mt-n6 {
      margin-top: -48px;
    }
    
    .ms-auto {
      margin-left: auto;
    }
    
    .me-auto {
      margin-right: auto;
    }
    
    
    
    // @=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@
    // Borders
    // @=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@
    
    .border-0 {
      border: 0px;
    }
    
    .border-1 {
      border: 1px solid $border-color;
    }
    
    .border-2 {
      border: 2px solid $border-color;
    }
    
    
    // @=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@
    // Thumb size
    // @=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@
    
    .img-fluid {
      max-width: 100%;
      width: auto;
      height: auto;
    }
    
    .rounded-circle {
      border-radius: 100%;
    }
    
    .rounded-pill {
      border-radius: 50px;
    }
    
    .rounded {
      border-radius: 4px;
    }
    
    
    
    // @=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@
    // Opacity
    // @=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@
    
    .op-7 {
      opacity: 0.7;
      width:100%;
    }
    .op-6 {
      opacity: 0.6;
    }
    .op-5 {
      opacity: 0.5;
    }
  


  
  
  