<mat-tab-group>
  <mat-tab label="Discover">
    <div id="categories">
      <mat-form-field class="example-chip-list">
        <mat-chip-list multiple [formControl]="formControl">
          <mat-chip
            *ngFor="let keyword of keywords"
            [selected]="keyword"
            [value]="keyword"
            (click)="addKeyword(keyword)"
          >
            {{ keyword }}
          </mat-chip>
        </mat-chip-list>
      </mat-form-field>
    </div>
    <div class="event">
      <div  *ngFor="let event of event" class="event-card" >
          <mat-card>
            <img mat-card-image src="{{ event.poster_url }}" />
            <div>
              <mat-card-actions *ngIf="auth.isLoggedIn()">
                <button
                  [style.background-color]="event.isregistred ? 'green' : 'red'"
                  class="button-29"
                  role="button"
                  (click)="openDialog(event)"
                >
                  <div *ngIf="event.isregistred" > registred </div>
                  <div *ngIf="!event.isregistred"> registre </div>
                </button>
              </mat-card-actions>
              <div> {{event.date}}</div>
              <span
                style="
                  font-weight: bold;
                  font-size: 12px;
                  margin: 5px;
                  padding: 5px;
                "
                >{{ event.nbr_registers }} are interested</span
              >
            </div>
          </mat-card>
        </div>
    </div>
  </mat-tab>
  <mat-tab label="Already registed" *ngIf="auth.isLoggedIn()" >
    <div class="event">
      <div *ngFor="let event of events_already_Registred"  class="event-card"  >
        <div *ngIf="event.isregistred" >
          <mat-card >
            <img mat-card-image src="{{ event.poster_url }}" />
            <div>
              <mat-card-actions>
                <button
                  [style.background-color]="registred ? 'green' : 'red'"
                  class="button-29"
                  role="button"
                  (click)="cancel_Registration(event)"
                >
                 Cancel Registration 
                </button>
              </mat-card-actions>
              <span>{{ event.nbr_registers }} are interested</span>
            </div>
          </mat-card>
        </div>
      </div>


    </div>
     
    
  </mat-tab>
</mat-tab-group>
