<div id="user_infos_container"> 
    <div style="display:flex;flex-direction:row;">
        <div >
            <img src="https://image.shutterstock.com/image-vector/user-icon-trendy-flat-style-260nw-418179856.jpg" style="width: 60px;height:60px;border-radius :50%;border :2px solid black"/>
        </div>
        <div id="owner_name" style="padding:5px;margin:10px;">
            <h1>{{user_name}}</h1>
        </div>
    </div>
    <div style="display:flex;flex-direction:row;justify-content: space-around;">
        <div style="padding :10px;font-weight: bolder;">
            <span>
                {{followers}} {{followers>1?"followers":"follower"}}
            </span>
        </div>
        <div *ngIf="auth.getUser_id()!=user_id">
            <button mat-raised-button color="primary" role="button">follow</button>
        </div>
    </div>
</div>
