<!-- Cards -->
<div *ngFor="let card of cards">
  <mat-card class="element-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ card.title }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{ card.image_url }}" />
    <mat-card-content>
      {{ card.description }}
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="gotoArticle(card)">Learn more</button>
    </mat-card-actions>
  </mat-card>
</div>

