<!-- Cards -->
<div id="container">
  <div *ngFor="let card of cards" class="element-card">
    <mat-card >
      <mat-card-header>
        <mat-card-title>{{ card.title }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{ card.image_url }}" />
      <mat-card-content>
        {{ card.description }}
      </mat-card-content>
      <mat-card-actions>
        <button style="border:1px solid palegoldenrod"mat-button (click)="gotoArticle(card)">Learn more</button>
      </mat-card-actions>
    </mat-card>
  </div>
  
  

</div>
