<h2 style="text-align:center">Streamio</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="../../../../assets/images/streamer.png" style="width:100%">
      <div class="container">
        <h2>Jane Doe</h2>
        <p class="title">pseudoname</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p><button class="button" (click)="subscribe()">{{sub}}</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="../../../../assets/images/logo2-1.jpg" style="width:100%">
      <div class="container">
        <h2>Jane Doe</h2>
        <p class="title">pseudoname</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p><button class="button">Subscribe</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="../../../../assets/images/streamer.png" style="width:100%">
      <div class="container">
        <h2>Jane Doe</h2>
        <p class="title">pseudoname</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p><button class="button">Subscribe</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="../../../../assets/images/streamer3.jpg" style="width:100%">
      <div class="container">
        <h2>Jane Doe</h2>
        <p class="title">pseudoname</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p><button class="button" (click)="subscribe()">Subscribe</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="../../../../assets/images/streamer4.jpg" style="width:100%">
      <div class="container">
        <h2>Jane Doe</h2>
        <p class="title">pseudoname</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p><button class="button">Subscribe</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="../../../../assets/images/streamer5.webp" style="width:100%">
      <div class="container">
        <h2>Jane Doe</h2>
        <p class="title">pseudoname</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p><button class="button">Subscribe</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="../../../../assets/images/logo2-1.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">pseudonamep>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p><button class="button">Subscribe</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../../../../assets/images/streamer.png" alt="John" style="width:100%">
      <div class="container">
        <h2>John Doe</h2>
        <p class="title">pseudoname</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p><button class="button">Subscribe</button></p>
      </div>
    </div>
  </div>
</div>

