<div class="grid-container">
  <a id="back-button" [routerLink]="'/'"><mat-icon>keyboard_backspace</mat-icon></a>
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <div id="scroll">
      <mat-grid-tile [colspan]="cards[0].cols" [rowspan]="cards[0].rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{cards[0].title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Number of users: {{userCount}}</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>


    <mat-grid-tile [colspan]="cards[1].cols" [rowspan]="cards[1].rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{cards[1].title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Number of games: {{gameCount}}</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>


    <mat-grid-tile [colspan]="cards[2].cols" [rowspan]="cards[2].rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{cards[2].title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Number of articles: {{articleCount}}</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>


    <mat-grid-tile [colspan]="cards[3].cols" [rowspan]="cards[3].rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{cards[3].title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Number of events: {{eventCount}}</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

  <mat-grid-tile [colspan]="cards[4].cols" [rowspan]="cards[4].rows">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>
          {{cards[4].title}}
          <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item>Expand</button>
          </mat-menu>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <div>Number of reviews: {{reviewCount}}</div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="cards[5].cols" [rowspan]="cards[5].rows">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>
          {{cards[5].title}}
          <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item>Expand</button>
          </mat-menu>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <div>Number of videos: {{videoCount}}</div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  </div>
  </mat-grid-list>
</div>