mat-sidenav-container {
    height: 100%;
    mat-toolbar{
        background-image:url("../../../../images/sidebar-bg.webp");
        border-bottom-right-radius:50px ;
        border-top-right-radius: 50px;
        //background-color: #ffffff;
        background-position:top;
        background-repeat: no-repeat;
        background-size:cover;
        background-blend-mode:color-dodge;
        color: rgb(23, 12, 111);
        position: fixed;
        display: flex;
        width: 89%;
        justify-content: space-around;
        .profilcontainer{
            border-radius: 50%;
            border-style: solid;
        }
        .profilbutton:hover{
            cursor: pointer;
        }
        mat-toolbar-row{
            display: flex;
            justify-content: space-around;
        }
    }
    .content{
        width: 90%;
        margin: auto;
        float: left;
        padding: 5%;
        overflow:hidden;
        background-color: rgb(255, 255, 255);
    }
    /*.separator{
        height: 10%;
    }*/
  
    mat-sidenav {
        background-image:url("../../../../images/sidebar-bg.webp");
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 20%;
        //background-image: linear-gradient(to right, rgba(4, 3, 14, 1), rgb(0, 1, 7));
        //background-color: rgba(4, 3, 14, 1);


      mat-nav-list {
          overflow: hidden;
          .testlogo{
              color: #A1A3D4;
              font-weight: 700;
              text-align: center;
          }
          .testlogo.change{
            color:#A1A3D4            
        }
        .expand-button {
          transition: 300ms ease-in-out;
          transform: rotate(0deg);
          right: 0;
          float: right;
          position: absolute;
          color: #ffffff;

        }
  
        .expand-button.rotated {
          transform: rotate(180deg);
        }
        .sidenavbutton{
            transition: 300ms ease-in-out;
            color:white;
        }
        .sidenavbutton:hover{
            color: #9ea0d9;
        }

        .sidenavbutton.change{
            color: rgb(0, 119, 255);
        }
        .sidenav-title{
            text-align: center;
            color: rgb(239, 241, 241);
            font-family: 'Rubik', sans-serif; font-style:normal;
        }
        .sidenav-title:hover{
            color: #A1A3D4;
        }
        mat-list-item:hover{
            background-color: rgba(118, 116, 161, 0.062);
        }
        mat-list-item{
            margin-top: 5px;
            margin-bottom: 5px;
        }
        .navbaritems{
            display: flex;
            flex-direction: row;
        }

    }
  }
}