<div class="about-section">
    <h1>About Us</h1>
    <p>Streamio plateform for gamers around the world</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Allaki Driss</h2>
          <p class="title">CEO & Founder</p>
          <p>Professor at INPT</p>
          <p>allaki.driss @gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Bouarfa Oussama</h2>
          <p class="title">Art Director</p>
          <p>Cloud & IoT student at INPT</p>
          <p>Bouarfa.Oussama @gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Boukedir Mohamed</h2>
          <p class="title">Web Manager</p>
          <p>Cloud & IoT student at INPT</p>
          <p>Boukedir.Mohamed @gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    <div class="column">
        <div class="card">
          <div class="container">
            <h2>Boujarfaoui Hamza</h2>
            <p class="title">Business Development Manager</p>
            <p>Cloud & IoT student at INPT</p>
            <p>Boujarfaoui.hamza @gmail.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="container">
            <h2>Dahchour Anass</h2>
            <p class="title">Product Manager</p>
            <p>Cloud & IoT student at INPT</p>
            <p>dahchour.anass @gmail.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="container">
            <h2>Hajjou Hamza</h2>
            <p class="title">Marketing Director</p>
            <p>Cloud & IoT student at INPT</p>
            <p>hajjou.hamza @gmail.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
  </div>