<div id="watch_container">
  <div id="video_container">
    <div id="video" *ngIf="src != ''">
      <app-video-player
        class="stream"
        src="{{ src }}"
        [autoplay]="true"
      >
      </app-video-player>
    </div>
  <mat-divider></mat-divider>
    <div id="video_infos" *ngIf="src != ''">
      <div>
        <h1>{{ title }}</h1>
      </div>
      <div id="owner_infos">
       <app-user-infos  [user_id]="user_id"></app-user-infos>
      </div>
      <div>
        <button
          mat-raised-button
          color="warn"
          (click)="stopStream()"
          *ngIf="user_id == auth.getUser_id() && is_live && !loading"
        >
          Stop stream
        </button>
        <mat-spinner *ngIf="loading"></mat-spinner><br /><span *ngIf="loading"
          >Stopping stream...</span
        >
      </div>
    </div>
  </div>

  <div id="messages_container">
    <div id="messages">
      <div *ngFor="let item of messageList" class="message" >
          <div class="msg-info">
            <div >
              <img src="https://image.shutterstock.com/image-vector/user-icon-trendy-flat-style-260nw-418179856.jpg" style="width: 30px;height:30px;border-radius :50%;border :2px solid black;margin-right:10px;"/>
          </div>
            <div class="msg-info-name" [ngStyle]="{'color':  item.mine ? 'blue' : 'red' }">{{item.userName}}</div>
            <div class="msg-info-time"></div>
          </div>
          <div class="msg-text">{{item.message}}</div>
  

        <mat-divider></mat-divider>

      </div>
    </div>
     <mat-divider></mat-divider>
    <div id="add_message" *ngIf="auth.isLoggedIn()">
        <mat-form-field class="example-full-width" appearance="fill">
          <textarea matInput placeholder="chat "  [formControl]="messageContent" (keyup.enter)="sendMessage()"  ></textarea>
        </mat-form-field>
      <div>
        <button mat-button color="primary"  style="padding:5px;margin-top: 10px;" (click)="sendMessage()"> Send</button>
      </div>
    </div>

  </div>
</div>
