.page{
    display: flex;
    justify-self: center;
    width: 110%;
   background-color: rgb(255, 255, 255);

}
.stream{
    width:50vw;
    margin-top: 8vw;
    margin-bottom: 2vw;
    margin-left: 2vw;
}
.button {
    width: 100px;
    height: 40px;
    outline: none;
    border: 1px solid #8182c1;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    background: #1c1f6e;
    color: #fff;
    text-transform: uppercase;
    &:focus {
      outline: none;
    }
}
.input[type="text"] {
    width: 300px;
    height: 40px;
    outline: none;
    border: 1px solid #8182c1;
    padding: 5px;
    border-radius: 5px;
    margin-top: 4px;
  }
  .logo{
    display: flex;
    align-items: center;
  }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 50vw;
  h1 {
    margin: 0.5em auto;
    color: rgb(20, 23, 108);
    text-align: center;
    font-family: fantasy;
  }
}
.chatbox {
  background: rgba(125, 124, 197, 0.727);
  width: 80%;
  height: 75%;
  margin-right: 20px;
  border-radius: 0.3em;
  position: relative;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
  .messages_list {
    overflow-y: auto;
    height: 100%;
  }
  &__messages {
    &.mine .message-box {
      float: right;
      background-color: rgb(13, 13, 83);
    }
    .message-box {
      float: left;
    }
  }
  .message-box {
    background: rgba(255, 255, 255, 0.2);
    padding: 1em 0;
    height: auto;
    width: 55%;
    border-radius: 5px;
    margin: 2em 1em;
    overflow: auto;
    & > p.name {
      color: #FFF;
      font-size: 1em;
    }
    & > p.message {
      color: #FFF;
      font-size: 0.7em;
      margin: 0 2.8em;
    }
  }
  p {
    float: left;
    text-align: left;
    margin: -0.25em 2em;
    font-size: 0.7em;
    font-weight: 300;
    color: #FFF;
    width: 55%;
  }
  form {
    background: #222;
    input {
      background: rgba(255, 255, 255, 0.03);
      position: relative;
      bottom: 0;
      left: 0;
      border: none;
      width: 75%;
      padding: 1.2em;
      outline: none;
      color: rgba(255, 255, 255, 0.9);
      font-weight: 300;
    }
  }
}