<div id="background">
    <div id="form">
        <h1>Register</h1>
        <form>
            <mat-form-field appearance="outline">
                <mat-label>username</mat-label>
                <input matInput placeholder="username" [formControl]="username">
            </mat-form-field><br />
            <mat-form-field appearance="outline">
                <mat-label>email</mat-label>
                <input matInput placeholder="Email" [formControl]="email">
            </mat-form-field><br />
            <mat-form-field appearance="outline">
                <mat-label>password</mat-label>
                <input matInput placeholder="Password" [formControl]="password" type="password">
            </mat-form-field><br />
            <mat-form-field appearance="outline">
                <mat-label>confirm password</mat-label>
                <input matInput placeholder="Confirm password" [formControl]="password_confirm" type="password">
            </mat-form-field><br />
            <div id="button-container">
                <button mat-raised-button color="primary" (click)="this.attemptRegistration()">Register</button>
            </div>
        </form>
        <a (click)="goToLogin()">Or login with existing account</a>
    </div>
</div>