<mat-toolbar>
  <mat-toolbar-row>
    <div>
      <div *ngIf="auth.isLoggedIn()">
        <button mat-button [matMenuTriggerFor]="menu">Add</button>
        <mat-menu #menu="matMenu">
          <a mat-menu-item [routerLink]="'add_article'">Add article </a>
          <a mat-menu-item>Go live </a>
          <a mat-menu-item [routerLink]="'images'">Upload images</a>
          <a mat-menu-item [routerLink]="'addEvent'" *ngIf="auth.getUserRole()=='admin'">Add Event</a>
        </mat-menu>
      </div>
    </div>
    <div>

      <mat-nav-list>
        <mat-list-item>
          <div class="center">
            <label for="search" class="center">
              <mat-icon>search</mat-icon>
            </label>
            <input id="search" [(ngModel)]="search" placeholder="Search">
          </div>
        </mat-list-item>
        <mat-list-item *ngIf="auth.isLoggedOut()" (click)="goToLogin()">Se connecter</mat-list-item>
        <mat-list-item *ngIf="auth.isLoggedIn()">
          <button mat-button [matMenuTriggerFor]="menu">{{auth.getUsername()}}</button>
          <mat-menu #menu="matMenu">
          <a mat-menu-item (click)="gotoProfile()">Profile</a>
          <a mat-menu-item (click)="auth.logout()">logout</a>
        </mat-menu>

        </mat-list-item>
      </mat-nav-list>
    </div>
    
  </mat-toolbar-row>

</mat-toolbar>
