#container{
    padding: 20px;
    margin: 20px;
    box-shadow: #272822 1px 1px 10px 1px;
}

#game-banner {
    display:flex;
    margin-bottom: 20px;
}

#game-info {
    margin:20px;
}

#game-title {
    font-size:xx-large;
}

#game-rating {
    display: flex;
    align-items: center;
}
#game-poster{
    height: 350px;
}

.review-card {
    margin-top: 10px;
    border: 1px solid antiquewhite;
}

.star {
    margin-right: 5px;
}

.user-rating {
    display: flex;
    align-items: center;
}

.user-name {
    font-size: large;
}

.user-link {
    text-decoration: none;
    cursor: pointer;
}

.rating{
    width: 100%;

}